.background {
  background-color: #F2D8F0;
}

.full-width {
  background-color: #343a40;
  margin-bottom: 30px;
}

.navbar-nav {
  margin: 7.5px 0px;
}

.log-btn {
  float: right;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand a {
  text-decoration: none !important;
}

nav a {
  color: white;
}

nav a:hover, a:focus {
  color: #D7D7D7;
}

@media(max-width: 411px) {
  .navbar-brand {
    padding: 8px;
    font-size: 14px;
    line-height: 35px;
  }
}

h1 {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.film-padding {
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.individual-film-padding {
  padding-left: 5px;
  padding-right: 0px;
}

.bad-rating {
  font-weight: bold;
  color: crimson;
}

.ok-rating {
  font-weight: bold;
  color: goldenrod;
}

.good-rating {
  font-weight: bold;
  color: green;
}

form {
  padding-bottom: 20px;
  text-align: center;
}

.btn-search {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  vertical-align: top !important;
  background-color: #343a40;
  color: white;
}

.btn-dark:hover, .btn-dark:focus {
  color: white;
}

.btn-dark {
  background-color: #343a40;
  color: white;
}

input {
  height: 34px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-indent: 0.5rem;
  width: 300px;
}

@media(max-width: 400px) {
  input {
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .film-rows {
    height: 168px;
  }
}

@media (max-width: 767px) {
  .film-col {
    padding-left:15%; 
    padding-right:15%;
  }
}

@media (min-width: 992px) {
  .film-rows {
    height: 223px;
  }
}

@media (min-width: 1200px) {
  .film-rows {
    height: 273px;
  }
}